.blog-grid {
  max-width: 960px;
  margin: 150px auto;
}



/************** BlogPost1 Styles *************/

.blog_1 {
  background: url('./images/coffeeshop.jpg') center/cover;
  height: 267px;
  color: #FFF;
}

.blog_2 {
  background: url('./images/passion.jpg') center/cover;
  height: 267px;
  color: #FFF;
}

.blog_3 {
  background: url('./images/classroom.jpg') center/cover;
  height: 267px;
  color: #FFF;
}
